<form [formGroup]="StudentForm" (ngSubmit)="onSubmit()" class="grid formgrid">
    <div class="col-6">
        <mat-form-field class="w-full">
            <mat-label>Nombre</mat-label>
            <input formControlName="firstName" matInput type="text">
    </mat-form-field>
    </div>  
    <div class="col-6">
        <mat-form-field class="w-full">
            <mat-label>Apellido</mat-label>
            <input formControlName="lastName" matInput type="text">
    </mat-form-field>
    </div>
    <div class="col-12">
        <mat-form-field class="w-full">
            <mat-label>Email</mat-label>
            <input formControlName="email" matInput type="email">
        </mat-form-field>
    </div>
    <div class="col-6">
        <mat-form-field class="w-full">
            <mat-label>Fecha de Nacimiento</mat-label>
            <input formControlName="birthDate" matInput type="date">
        </mat-form-field>
    </div>
    <div class="col-6">
        <mat-form-field class="w-full">   
            <mat-label>Pais</mat-label>
            <mat-select formControlName="country">
                <mat-option value="Colombia" >Colombia</mat-option>
                <mat-option value="Argentina" >Argentina</mat-option>
                <mat-option value="Brasil" >Brasil</mat-option>
            </mat-select>    
        </mat-form-field>
    </div>
    <div class="col-12 flex justify-content-start">
        <button mat-flat-button color="primary">Guardar</button>
    </div>    
</form>

<pre>{{StudentForm.value | json}}</pre>
  