<form [formGroup]="studentsForm" (ngSubmit)="onSubmit()" class="grid formgrid">
  <div class="col-6">
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Nombre</mat-label>
      <input formControlName="firstName" matInput type="text" />
    </mat-form-field>
  </div>
  <div class="col-6">
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Apellido</mat-label>
      <input formControlName="lastName" matInput type="text" />
    </mat-form-field>
  </div>
  <div class="col-6">
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Fecha de Nacimiento</mat-label>
      <input formControlName="birthDate" matInput type="date" />
    </mat-form-field>
  </div>
  <div class="col-6">
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Email</mat-label>
      <input formControlName="email" matInput type="email" />
    </mat-form-field>
  </div>
  <div class="col-6">
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Movil</mat-label>
      <input formControlName="cellPhone" matInput type="tel" />
    </mat-form-field>
  </div>
  <div class="col-6">
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Pais</mat-label>
      <mat-select formControlName="country">
        <mat-option value="Colombia">Colombia</mat-option>
        <mat-option value="Argentina">Argentina</mat-option>
        <mat-option value="Brasil">Brasil</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-12 flex justify-content-end">
    <button
      mat-flat-button
      color="warn"
      (click)="onPressCancel(true)"
      style="margin-right: 20px"
    >
      Cancelar
    </button>
    <button mat-flat-button color="primary">{{ botonAccion }}</button>
  </div>
</form>

<!--<pre>{{StudentForm.value | json}}</pre>-->
