.not-found {
   text-align: center;
   padding: 50px;
}

.not-found h1 {
   font-size: 3em;
   color: #ce2029;
   margin-bottom: 20px;
}

.not-found p {
   font-size: 1.5em;
}

.not-found a {
   display: inline-block;
   margin-top: 20px;
   color: #ffffff;
   background-color: #ce2029;
   padding: 10px 20px;
   text-decoration: none;
}